@{
    ViewData["Title"] = "Error";
}

<h2>Oops!</h2>
<h2>We've encountered an error.</h2>
<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            <a asp-controller="Home" asp-action="Index">Go to the homepage</a>
        </dd>
    </dl>
</div>

